<nav>
      <a href="/">Home</a>
      <a href="/products">Our Menu</a>
      <!-- <a href="/custom">Customize Cake</a>
      <a href="/classes">Classes</a> -->
      <a href="/recipes">Recipes</a>
      <a href="/aboutus">About Us</a>
      <a href="/logout">Logout</a>
    </nav>