<nav>
      <a href="/">Home</a>
      <a href="/products">Our Menu</a>
      <a href="/custom_cake">Custom Cake</a>
      <a href="/recipes">Recipes</a>
      <a href="/aboutus">About Us</a>
      <a href="/logout">Logout</a>
    </nav>