<nav>
  <div class="left">
    <a href="/">Home</a>
    <a href="/products">Our Menu</a>
    <a href="/custom">Customize Cake</a>
    <a href="/classes">Classes</a>
    <a href="/blog">Blog</a>
    <a href="/aboutus">About Us</a>
  </div>
  <div class="right">
    <% if (user) { %>
        <!-- ✅ Show username and logout -->
         <span style="float:right; margin-left:15px;">Welcome, <%= user.username %>!</span>
         <a href="/logout" style="float:right;">Logout</a><% }
    else { %>
        <!-- ❌ Not logged in -->
         <a href="/register">Register</a>
         <a href="/login" style="float:right;">Login</a>
    <% } %>
  </div>
</nav>