<nav>
      <a href="/">Home</a>
      <a href="/products">Our Menu</a>
      <a href="/custom">Customize Cake</a>
      <a href="/classes">Classes</a>
      <a href="/blog">Blog</a>
      <a href="/aboutus">About Us</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>