<html>
    <head>
        <%- include('partials/header1.ejs') %>
    </head>
	<body>
		 <header>
			<h1>The Baker Barns Bakery</h1>
			<%- include('partials/navbar1.ejs') %>
		</header>
		<div class="login">
			<h1>Login</h1>
			<br>
			<form action="/auth" method="post">
				<label for="email">Email:</label>
				<input type="text" name="email" placeholder="Email" id="email" required>
				<br><br>
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<br><br>
				<input type="submit" value="Login">
			</form>
			<a href="/register">Register</a>
		</div>
	</body>
</html>